$top-bg-color:#366e9e;
$navbar-bg-color:#366e9e;
$header-color:#366e9e;

.top-bg-color{
    background-color: $top-bg-color;
}
.navbar-bg-color{
    background-color: $navbar-bg-color;
}
.header-color{
    color:$header-color;
}